.text-left{text-align: left;}
.bgColor{-webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 28%); -moz-box-shadow: 0 2px 6px rgb(0 0 0 / 28%); box-shadow: 0 2px 6px rgb(0 0 0 / 28%);}

.boxContent {
    h3{margin:0;}
    p{margin:0; padding:15px 0; line-height: 28px; font-size:16px;}
}
.boxContent {
    .noteIcon {
    .iconButton{
        min-width:auto;
        min-width: auto;
        background: rgb(255 255 255 / 26%);
        padding: 4px;
        margin: 0 0 0 5px;
        color: #000;
        &:hover{background: rgb(255 255 255 / 26%);}

        svg {
            font-size: 18px;
            fill:#1976d2;
        }
    
    }
    }
}

 

.notesTable {
    .tableSearch{margin-bottom:25px;}

    thead{
            th {
                font-size:15px;
                font-weight: 700;
                svg{opacity:0.7;}
            }
    }
    p.notDatatxt {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
    }
    p{margin:0;}
    p.shotContent{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .actionLabel{
    span{padding-left:5px;}
    svg{display:none}
}
.titleContent{min-width:150px;}
    .actionBtn{width:100px;}

    .iconButton{
    min-width:auto;
    min-width: auto;
    background: rgb(255 255 255 / 26%);
    padding: 4px;
    margin: 0 5px 0 0;
    color: #000;
    &:hover{background: rgb(255 255 255 / 26%);}
    &.viewNote{margin-left:0;}
    }

    

    svg {
        font-size: 18px;
        fill:#1976d2;
    }
}



.errorText{padding: 20px 0 0 0; display: block; color: #F00; font-size: 16px; font-weight: 600;}

iframe#webpack-dev-server-client-overlay {
    display: none!important;
}

